@{
    ViewBag.Title = "Kontakt";
}
<h2>
    WYŻSZA SZKOŁA INFORMATYKI I ZARZĄDZANIA<br />
    „Copernicus” we Wrocławiu<br />
    WYDZIAŁ INFORMATYKI<br />
</h2>
<h3>
    Kierunek studiów: Informatyka<br />
    Poziom studiów: Studia pierwszego stopnia-inżynierskie<br />
    Specjalność: Systemy i Sieci Komputerowe<br />
</h3>

<address>
    Autor: Sebastian Jarząbek<br />
    Nr. Indexu: 6200<br />
</address>

<address>
    <strong>Kontakt:</strong>   <a href="mailto:sebastian.jarzabek@outlook.com">sebastian.jarzabek@outlook.com</a><br />
</address>