@{
    ViewBag.Title = "Melody Shop";
}

<div name="Main" class="jumbotron">
    <h1>Witaj w Melody Shop</h1>
    <p class="lead">Prawdopodobnie najlepszy sklep muzyczny w Polsce!</p>
    <p class="lead">
        W naszej ofercie znajdziesz, to czego szukasz!<br />Zapoznaj się z naszą ofertą.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gitary</h2>
        <p>
        </p>
        <p>
            <img width="240" height="120" src="~/Resource/klasyczna.png" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gitary basowe</h2>
        <p>
        </p>
        <p>
            <img width="240" height="120" src="~/Resource/elektryczna.png" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Keyboardy</h2>
        <p>
        </p>
        <p>
            <img width="240" height="120" src="~/Resource/keyboard.jpg" />
        </p>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Perkusje</h2>
        <p>
        </p>
        <p>
            <img width="240" height="120" src="~/Resource/perkusja.jpg" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nagłośnienie</h2>
        <p>
        </p>
        <p>
            <img width="240" height="120" src="~/Resource/nagłośnienie.jpg" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Dj</h2>
        <p>
        </p>
        <p>
            <img id="foto" width="240" height="120" src="~/Resource/dj.jpg" />
        </p>
    </div>

</div>

@section scripts {

    <script>
        $(function () {
            /*
            * Wysietlanie podgladu obrazka
            */
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("foto").attr("src", e.target.result).width(600).height(400);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ImageUpload").change(function () {
                readURL(this);
            })
        });
    </script>
}